.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formInput {
  width: 100px;
  margin: 5px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 4px;
  background-color: var(--input-background);
  box-shadow: 2px 2px 6px 0px rgba(66, 68, 90, 1);
}

.currencySelect {
  padding: 3px;
  margin: 5px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  background-color: var(--input-background);
  box-shadow: 2px 2px 6px 0px rgba(66, 68, 90, 1);
}
